body,
html,
#__next {
  background-color: #090a0b;
  width: 100%;
  padding: 0;
  margin: 0;
}
main {
  @media (max-width: 768px) {
    margin-top: 3%;
  }
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  background-color: #090a0b;
  font-family: 'Inter', sans-serif;
  color: white;
}

svg {
  width: 20px;
  height: 20px;
}

.container_page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}

.container_page_form {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/form-bg.jpeg');
}

//Account page
.container_account {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #090a0b;
  padding: 150px 20px 20px 20px;
  font-family: 'Inter', sans-serif;
  @media (max-width: 768px) {
    margin: 0;
    padding: 100px 0px 0px 0px;
  }
}

.account_content {
  width: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  html,
  body {
    width: 100%;
  }
}
