@import "../../styles/helpers/variables.scss";

.submitBtn {
    padding: 10px;
    border-radius: 10px;
    background-color: $yellow;
    color: #1c2129;
    font-size: 1rem;
    cursor: pointer;
}
