.container {
  &_header {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: linear-gradient(
      180deg,
      rgba(38, 40, 43, 0.8) 29.11%,
      rgba(34, 35, 37, 0) 100%
    );
    font-weight: 500;
    opacity: 1;
    font-size: 1.2rem;

    // Media query for hiding the logo on tablet and mobile
    @media (max-width: 768px) {
      padding: 0px 0px;
      .logo {
        display: none;
      }
    }
  }
}
.logo_img {
  width: 120px !important;
  height: 80px !important;
  @media (max-width: 798px) {
    width: 80px !important;
    height: 60px !important;
  }
}
.section {
  &_one {
    color: white;
    display: flex;
    flex-direction: row;
    ul {
      display: flex;
      flex-direction: row;
      padding: 5px;

      li {
        padding: 10px;
        margin: auto;

        .search {
          cursor: pointer;
          background: none;
        }

        .recommendation {
          text-align: center;
          gap: 5px;
          padding: 10px 30px;
          border-radius: 5px;
          background-color: #feb91e;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s ease-in-out;
          &:hover {
            box-shadow: 0 0 0 8px rgba(185, 185, 185, 0.1294117647);
          }
        }
      }
    }
  }
}
