.container {
    &_ssolog {
        display: flex;
        flex-direction: row;
        i {
            padding: 10px;
            font-size: 1.5rem;
        }
    }
    &_input {
    }
    &_form {
        width: 30%;
        margin: auto;
        border: 1px solid black;
        padding: 50px;
        box-shadow: 1;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
