.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 3rem;

  &::after {
    content: '';
    flex-grow: 1000000000;
  }
  &_card {
    flex-grow: 1;
    min-width: 300px;
    a {
      display: table;
      width: 100%;
    }

    .title {
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
      display: table-caption;
      caption-side: bottom;
    }
  }
}
