.nav {
  width: 30%;
  padding-right: 50px;
  height: fit-content;
  ul li {
    padding: 5px 0;
    &.active > * {
      color: #f3d269;
    }
    &:nth-child(1) {
      padding-bottom: 20px;
      button {
        font-size: 15px !important;
      }
    }
  }
}

.nav_button {
  color: white;
}
