.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.searchContainer {
  position: relative;
  width: 80%;
  height: 50px;
  max-width: 1000px;
  background-color: #1c2129;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5% 0 2% 12%;

  .searchInput {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #1c2129;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 15px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
      outline: none;
    }
  }

  .searchIcon {
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;
  }
}
