.flex {
  display: flex;
  &_row {
    display: flex;
    flex-direction: row;
  }
}

.justify {
  &_between {
    justify-content: space-between;
  }
  &_center {
    justify-content: center;
  }
}
.center {
  &_vertical {
    display: flex;
    align-items: center;
  }
}
.pointer {
  cursor: pointer;
}

.full-size {
  width: 100%;
  font-size: 1.2rem !important;
}
.bg_black {
  width: auto;
  background-color: black;
}

.custom_margin_top {
  margin-top: 7%;
}
//btn
.btn {
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  &_color {
    &_red {
      background-color: red;
    }
  }
}
.carrousel_btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  background: transparent;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.banner_btn {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 600;
  cursor: pointer;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  margin-right: 0.7rem;
  background-color: rgba(110, 110, 110, 0.7);
  border-radius: 3px;

  &_play {
    background-color: white;
    color: black;
  }
  svg {
    margin-right: 0.4rem;
  }
}
.btn_logout {
  padding: 11px;
  width: 99px;
}
.previous {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #f3d269 100%);
}
.next {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #f3d269 100%);
}

.icon_button {
  cursor: pointer;
}
.list {
  &_movies {
    flex: 0 0 40px;
    display: flex;
    margin-top: 10px;
    color: white;
  }
}
.slider {
  position: relative;
  margin: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 240px;
}
.react-multi-carousel-item {
  z-index: -3;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.react-multiple-carousel__arrow {
  // height: 100%;
}
.react-multiple-carousel__arrow--left {
  left: 1px;
}
.react-multiple-carousel__arrow--right {
  right: 1px;
}

.custom_button {
  // background-color: black !important;
  // color: white !important;
  // padding: 10px 20px !important;
  margin: 20px 0 !important;
  border-radius: 3px !important;
  // border: 1px solid transparent !important;
  // transition: 0.2s ease-in-out !important;
  // &:hover {
  //     cursor: pointer!important;
  //     background-color: #f3d269!important;
  //     color: black!important;
  // }
}

.format_pre {
  font-size: 0.9rem; /* Taille de police standard pour le web */
  line-height: 1.4;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  white-space: pre-wrap;
}
.highlight {
  font-size: 1.1rem;
  font-weight: bold !important;
  &_appreciation {
    font-size: 1rem !important;
    font-weight: bold;
  }
}
