.wrapper {
  padding: 10px;
  position: relative;
  &_border {
    &::before {
      position: absolute;
      content: "";
      border-top: 1.5px solid rgba(128, 128, 128, 0.2);
      top: 0;
      left: 1rem;
      right: 1rem;
    }
  }
}

.card_row {
  display: flex;
  align-items: center;
  padding: 10px;

  position: relative;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: rgba(206, 206, 206, 0.1019607843);
  }
  &_left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &_text {
    display: grid;
    align-items: center;
    gap: 10px;
    p {
      font-weight: 600;
    }
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &_icon {
    margin-left: auto;
  }
}
