.subscription{

    &_title{
        text-align: center;
        margin-bottom: 20px;
    }

    &_pricing{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }   
}